name: Smart MLOps Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-train-deploy:
    runs-on: ubuntu-latest
    
    steps:
    # 1. Checkout
    - name: Checkout Code
      uses: actions/checkout@v3

    # 2. DETECT CHANGES
    - name: Detect File Changes
      uses: dorny/paths-filter@v2
      id: changes
      with:
        filters: |
          training:
            - 'data/**'
            - 'src/register_data.py'
            - 'src/process_data.py'
            - 'src/train.py'
            - 'requirements-dev.txt'
          app:
            - 'app.py'
            - 'Dockerfile'
            - 'requirements.txt'
            - 'src/deploy.py'

    # 3. Install Dependencies
    - name: Install Python Libraries
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi

    # 4. Data Ingestion (SKIPPED if only app changed)
    - name: Register Raw Data
      if: steps.changes.outputs.training == 'true'
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
        HF_USERNAME: "iStillWaters"
      run: python src/register_data.py

    # 5. Processing (SKIPPED if only app changed)
    - name: Data Processing
      if: steps.changes.outputs.training == 'true'
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
        HF_USERNAME: "iStillWaters"
      run: python src/process_data.py

    # 6. Training (SKIPPED if only app changed)
    - name: Model Training
      if: steps.changes.outputs.training == 'true'
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
        HF_USERNAME: "iStillWaters"
        MODEL_REPO_NAME: "auto_predictive_maintenance_model"
      run: python src/train.py

    # 7. Deployment (ALWAYS RUNS if app changed OR training happened)
    # We run this if 'app' changed, OR if 'training' changed (because a new model usually means we should redeploy the app to use it)
    - name: Deploy App to Hugging Face
      if: steps.changes.outputs.app == 'true' || steps.changes.outputs.training == 'true'
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
        HF_USERNAME: "iStillWaters"
        SPACE_NAME: "Engine-Reliability-Dashboard-v2"
      run: python src/deploy.py